.element {
  display: flex;
  border-bottom: 1px solid #9b9999;
  padding-bottom: 30px;
  gap: 4.5%;
  width: 100%;
  .img {
    width: 30%;
    padding: 16px;
    border-radius: 16px;
    img {
      width: 100%;
    }
  }
  .right {
    display: flex;
    width: 67%;

    flex-direction: column;
    justify-content: space-between;
    font-size: 1em;
    .subtotal {
      display: flex;
      justify-content: space-between;

      p {
        font-size: 1.125;
      }
      .amount {
        border: 1px solid rgb(255, 128, 0);
        border-radius: 12px;
        padding: 3px 12px;
        height: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        span {
          border-left: 1px solid rgba($color: rgb(255, 128, 0), $alpha: 0.5);
          border-right: 1px solid rgba($color: rgb(255, 128, 0), $alpha: 0.5);
          padding: 0 1em;
          margin: 0 10px;
          font-size: 0.75em;
        }
        label:hover {
          color: rgb(255, 128, 0);
          cursor: pointer;
          user-select: none;
        }
      }
    }
    .functions {
      display: flex;
      justify-content: flex-end;

      .remove {
        display: flex;
        align-items: center;

        &:hover {
          color: rgb(255, 128, 0);
          cursor: pointer;
        }
      }
    }
  }
}
@media screen and (max-width: 450px) {
  .img {
    width: 40% !important;
    img {
      height: 100%;
    }
  }
  .right {
    width: 60%;
    .subtotal {
      margin-top: 1em;

      flex-direction: column;
      gap: 15px;
    }
    .functions {
      margin-top: 1em;
      flex-direction: column;
      gap: 0.6em;
    }
  }
}
@media screen and (max-width: 390px) {
  .element {
    flex-direction: column;
    align-items: center;
    gap: 1em;
    font-size: 14px;
    .img {
      width: 80% !important;

      img {
        max-height: 250px !important;
      }
    }
    .right {
      align-items: center;
      .subtotal {
        align-items: center;
        .amount {
          align-items: center;
          span {
            text-align: center;
          }
        }
      }

      .remove {
        justify-content: center;
      }
    }
  }
}
