.elements {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  .bottom {
    margin-top: 2.5em;
    padding: 16px;
    border-radius: 16px;
    .price {
      width: 60%;
      margin-left: auto;
      p {
        font-size: 0.9375em;
        font-weight: 100;
      }
      .subtotal {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        border-bottom: 1px solid #9b9999;
        padding-bottom: 5px;
        margin-bottom: 0.625em;
      }
      .total {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
@media screen and (max-width: 500px) {
  .elements {
    font-size: 14px;
  }
}
@media screen and (max-width: 400px) {
  .elements {
    font-size: 12px;
    .price {
      width: 100% !important;
    }
  }
}
